.layout{
  display:grid;
  grid-template-columns: repeat(3 1fr);
  grid-template-areas:
  "header header header"
  "main main main"
  "footer footer footer";
}

.header{grid-area:header;}
.main{grid-area:main;}
.footer{grid-area:footer;}

.sectMain2{
  display:grid;
  grid-template-columns: repeat(3 1fr);
   grid-template-areas:
  "art1 art2 art3"
  music1 music2 music3";
}

.art1{grid-area:art1;}
.art2{grid-area:art2;}
.art3{grid-area:art3;}

.footer{
   display:grid;
  grid-template-columns: repeat(3 1fr);
   grid-template-areas:
  "divFooterAdress divFooterForm";

}

.btn1{
  background-color: #F0C88D;
  border-radius: 3px;
  color:#12100E;
  font-weight: bold;
  font-family: Sans-Serif;
  text-decoration: none;
  box-shadow: 0 6px 20px rgba(0,0,0,0.5);
}
.btn2:hover{
 transform:Scale(1.2);
  transition: 3s;
}
.navHeader{
  display: flex;
  align-items: center;
  gap:16px;
}
.navButton{
  display: flex;
  gap: 16px;
  margin: auto;
}
.h1HeaderTitle{
  text-align: center;
  font-weight: bold;
  font-family: Sans-Serif;
  color:1F1609;
  font-size: 42;
}

.header{
  background-image: url("https://i.pinimg.com/736x/4f/c3/8e/4fc38e081c7603dc3683c110d73559d8.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main{
  background-image: url("https://i.pinimg.com/736x/a0/09/db/a009db4ddbfaa177565c11c3b5ee2f78.jpg");
  background-position: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.small-logo {
  width: 100px; 
  height: auto; 
}

.footer{
  background-image: url("https://i.pinimg.com/originals/74/09/6a/74096a62097bab4f0c900a853e732504.png");
  background-color: #e2c299;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

.art1main{
   text-align: center;
  font-weight: bold;
  font-family: Sans-Serif;
  color:#12100E;
  font-size: 42;
  box-shadow: 0 20px 50px #0006
}
.h2MainSect1{
   text-align: center;
  font-weight: bold;
  font-family: Sans-Serif;
  color:#12100E;
  font-size: 42;
  
}
.pMainSect1{
  font-weight: bold;
  font-family: Sans-Serif;
  color:#12100E;
  font-size: 18;
}
.h2sect3{
   text-align: center;
  font-weight: bold;
  font-family: Sans-Serif;
  color:#12100E;
  font-size: 42;
  padding-top: 50px;
}

.psect3{
  font-weight: bold;
  font-family: Sans-Serif;
  color:#12100E;
  font-size: 18;
  padding-top: 50px;
}

.btn2{
  background-color: #c9a46a;
  border-radius: 12px;
  color:#12100E;
  font-weight: bold;
  font-family: Sans-Serif;
  text-decoration: none;
}
.btn3form{
   background-color: #F0C88D;
  border-radius: 12px;
  color:#12100E;
  font-weight: bold;
  font-family: Sans-Serif;
  text-decoration: none;
}
.mainSection1{
  text-align: center;
  padding: 80px 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "pMainSect1 video1";
  gap: 300px;

}

.art1{
   font-weight: bold;
  font-family: Sans-Serif;
  color:#12100E;
  font-size: 16;
} 
.art2{
   font-weight: bold;
  font-family: Sans-Serif;
  color:#12100E;
  font-size: 16;
} 
.art3{
   font-weight: bold;
  font-family: Sans-Serif;
  color: #12100E;
  font-size: 16;
} 
.sectMain2{
    display: flex;
    justify-content: center;
    gap: 125px;
    padding-top: 100px;
    flex-wrap: wrap;
}

.btn3form{
     background-color: #F0C88D;
  border-radius: 12px;
  color:#12100E;
  font-weight: bold;
  font-family: Sans-Serif;
  text-decoration: none;
}
.btnfooter1{
     background-color: #F0C88D;
  border-radius: 12px;
  color:#12100E;
  font-weight: bold;
  font-family: Sans-Serif;
  text-decoration: none;
}
.btnfooter2{
     background-color: #F0C88D;
  border-radius: 12px;
  color:#12100E;
  font-weight: bold;
  font-family: Sans-Serif;
  text-decoration: none;
}
.btnfooter3{
     background-color: #F0C88D;
  border-radius: 12px;
  color:#12100E;
  font-weight: bold;
  font-family: Sans-Serif;
  text-decoration: none;
}

.btnfooter3:hover{
 transform:Scale(1.1);
  transition: 3s;
}

.btnfooter2:hover{
 transform:Scale(1.1);
  transition: 3s;
}

.btnfooter1:hover{
 transform:Scale(1.1);
  transition: 3s;
}
.btn3form:hover{
 transform:Scale(1.1);
  transition: 3s;
}

.feedback-form-wrapper{
    padding: 20px;
    margin-right: 50px;
}
.form-group{
    margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  width:100%;
  margin:auto;
  color:#12100E;
  box-shadow: 0 20px 50px #0006 
  
    
}
.input,textarea{
    width:100%;
    padding: 12px 16px;
    border: 5px;
}

.divFooterAdress{
    padding-top: 50px
}
.form-title{
    font-weight: bold;
  font-family: Sans-Serif;
  color: #12100E;
  font-size: 18;
}
.lbl1{
    font-weight: bold;
  font-family: Sans-Serif;
  color: #12100E;
  font-size: 18; 
}
.lbl2{
     font-weight: bold;
  font-family: Sans-Serif;
  color: #12100E;
  font-size: 18;
}

.footer {
  position: relative; 
}

.small-logo2 {
  position: absolute;
  bottom: 10px;
  left: 10px; 
  width: 100px;
  height: auto;
}

.sectMain3 article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 40px;
}
.video3{
  padding-left: 130px;
padding-top: 20px;
}

